#titulo {
    color: #1d7858;
}

/* Estructura general */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; /* importante: apila header, main y footer */
}

/* Header arriba */
header {
    flex-shrink: 0;
}

.error{
   text-align: center;
    color: #c50f15;
}

/* Main ocupa el espacio intermedio y centra su contenido */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login centrado dentro del main */
.login-container {
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    width: 300px;
}

.login-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.link{
    text-align: center;
}

button {
    width: 100%;
    background: #1d7858;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 6px;
}

button:hover{
    background-color: #245c3a;
}

/* Footer abajo */
footer {
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    color: #666;
}